html, body {
	background: white; 
}

.peopleSection h1 {
	color: black;
	margin-bottom: 20px;
	text-align: left;
}

.person {
	border: 1px solid #553377;
	margin-bottom: 10px;
}

.basicInfo {
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
}
.num {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	background-color: #553377;
	color: white;
}

.remainingInfo {
	overflow: hidden;
}

.actionBtns {
	overflow: hidden;
}


table.display {
	
}
table.display td,
table.display th {
}
