/*
Blue: 			#5AB8E2 	80, 184, 226
Dark Blue:		#3A98C2
Cream:			#FFFFF0 	
Super Light Purple: #DAC8DA
Light purple: 	#AA88AA 	170, 136, 170
Medium purple:	#553377 	85, 51, 119
Dark purple: 	#331155		51, 17, 85
Grey:			#BBBBBB

Red: 			#EF124D
Pink:			#FFEAF0
*/
/* *************** */
/*	  Styles	 */
/* *************** */
/* Elements */
body, html {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	background: #331155;
}
* { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1, h2, h3, h4 {
	font-family: "Raleway", Helvetica, sans-serif;
}
h1 { 
	font-size: 2.5em; 
	line-height: 1.5em; 
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	}
	h1.blue { color: #5ab8e2; }
h2 { font-size: 1.5em; line-height: 1.5em; color: #5ab8e2; }
	h2.white { color: #ffffff; }
h3 {
	font-size: 1.5em; line-height: 1.5em; color: #331155;
}
h4 {
	font-size: 1.3em;
}

p {
	margin-bottom: 10px;
    line-height: 1.75;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
	outline: 0;
}

a.hiddenLink {
    color: #fff;
    border: none;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	cursor: pointer;
	color: #3a98c2;
	border-color: #3a98c2;
	outline: 0;
}
a.btn {
	color: white;
}

hr { border-top: 1px solid #DAC8DA; }

/* Buttons */
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0;
}
.btn {
	border-radius: 0;
	/*-moz-box-shadow:	0px 0px 3px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:		 0px 0px 3px 0px rgba(50, 50, 50, 0.5);*/
}
.btn, .btn-l, .btn-xl, .navbar-default .navbar-nav > .active > a {
	background: #5ab8e2;
	color: white;
	border: 0;
	border-radius: 0;
	
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
	transition: all .3s;
}
.btn-l {
	padding: 12px 24px;
}
.btn-xl {
	padding: 20px 40px;
	text-transform: uppercase;
	font-size: 1em;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0;
}
.btn:hover, .btn:focus, .btn:active,
.btn-l:hover, .btn-l:focus, .btn-l:active, .navbar .nav .btn-l:hover, .navbar .nav .btn-l:focus, .navbar .nav .btn-l:active,
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .navbar .nav .btn-xl:hover, .navbar .nav .btn-xl:focus, .navbar .nav .btn-xl:active, 
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:active {
	background-color: #3a98c2;
	border: 0;
	color: white;
}

.btn-circle {
	border-radius: 50%;
}
.btn.right {
	float: right;
}

/* highlights */
::selection, ::-moz-selection {
	text-shadow: none;
	background: #5AB8E2;
}
img::selection, img::-moz-selection {
	background: 0 0;
}
.mobileOnly { display: none; }
@media (max-width: 991px) {
	.mobileOnly { 
		display: block;
	}
}



/* **************** */
/*		Layout		*/
/* **************** */
/* Header */
.bg-medPurple {
	background: #AA88AA;
}
/* Questions, Sponsors */
.bg-cream {
	background: #FFFFF0;
}
/* Join */
.bg-signup {
	background-color: #553377;
	background-image: url(../images/backgrounds/LadiesLearningCode2.jpg);
}
/* Schedule, Team, Signup */
.bg-trianglePurple {
	background-color: #AA88AA;
	background-image: url(../images/backgrounds/new_year_background_AA88AA.png);
	background-position: center center;
}
/* Info */
.bg-grey {
	background: #553377;
}

/* Any background with an image */
.bg-image {
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

section {
	padding: 100px 0;
}




/* ***************** */
/*	  Nav Bar	  */
/* ***************** */
/* all links: brand, links, buttons */
.navbar a {
	text-decoration: none !important;
	border-bottom: 0;
	
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
	transition: all .3s;
}
.navbar a:hover, nav a:focus, nav a:active {
	border-bottom: 0;
}

.navbar-fixed-top { border: 0; }

/* back navbar - large */
.navbar {
	padding: 20px 0;
	background-color: rgba(51, 17, 85, 0.4);
	font-size: .8em;
	
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
	transition: all .3s;
}

/* back navbar - small */
.navbar-shrink, .navbar-shrink-perm {
	background-color: #331155;
	padding: 0;
}

/* brand - large */
.navbar-header { display: inline-block; }
.navbar-brand {
	font-size: 2em;
	color: #fff;
	height: inherit;
	line-height: normal;
}
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
	color: #3a98c2;
}

/* brand - small */
.navbar-header {}
.navbar-shrink .navbar-brand, .navbar-shrink-perm .navbar-brand {
	font-size: 1.5em;
	padding: 25px 25px 25px 15px;
}

/* non-active links - large */
.navbar-right { 
	margin: 0 -15px;
	display: inline-block;
	float: right;
}
.nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	line-height: 25px;
}
.nav li a:hover, .nav li a:focus, .nav li a:active {
	color: #3a98c2;
	background-color: transparent;
}

/* non-active links - small */
.navbar-shrink .nav li a, .navbar-shrink-perm .nav li a {
	padding: 25px;
}

/* active links - small */
.navbar-shrink .nav li.active a, .navbar-shrink-perm .nav li.active a {
	background: #5AB8E2;
}
.navbar-shrink .nav li.active a:hover, .navbar-shrink .nav li.active a:focus, .navbar-shrink .nav li.active a:active,
.navbar-shrink-perm .nav li.active a:hover, .navbar-shrink-perm .nav li.active a:focus, .navbar-shrink-perm .nav li.active a:active {
	background: #3a98c2;
	color: white;
}
.navbar-shrink .navbar-right .btn, .navbar-shrink-perm .navbar-right .btn {
	margin-top: 15px;
}

/* nav toggle button */
.navbar-toggle {
	margin: 15px;
	font-size: 1.3em;
}

/* small tablet / large phone */
@media (max-width: 768px) {
	/* brand - large */
	.navbar-brand {	
		font-size: 1.5em; padding: 24px 15px;
	}
	
	/* non-active links - large */
	.nav.navbar-right { 
		float: none;
		display: block;
	}
	
	/* non-active links - small */
	.navbar-shrink .nav li a, .navbar-shrink-perm .nav li a {
		padding: 10px;
	}
	
	/* active links - small */
	.navbar-shrink .navbar-right .btn, .navbar-shrink-perm .navbar-right .btn {
		margin-right: 15px;
	}
}




/*
.navbar li { margin-bottom: 0; }
.navbar-header { float: left; }
.navbar-right { float: right; }
@media (max-width: 768px) {
	.navbar-default .navbar-collapse { clear: both; }
	.navbar-default .navbar-collapse .navbar-right { float: none; }
}


.navbar-toggle {
	color: #5ab8e2;
	
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
	transition: all .3s;
}

.navbar-default a {
	padding: 25px;
}
.navbar .navbar-toggle {
	border-color: #5ab8e2;
	background-color: #5ab8e2;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:active {
	background-color: #3a98c2;
}

@media only screen and (max-width: 767px) {
	.navbar {
		padding: 10px 0;
	}
}

*/


/* ************************************ */
/*		Section Styles -- Header		*/
/* ************************************ */
header {
	position: relative;
	text-align: center;
	color: #fff;
}
#header-canvas {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
#header-container {
	position: relative;
	z-index: 2;
}
.hack-header {
	padding: 120px 0 60px;
}
.team-header {
	padding: 160px 0 60px;
}
.signup-header {
	
}
.logo {
	width: 300px;
}
.hack-header .down {
	font-size: 2.5em;
	margin: 8px 6px 3px;
}
.team-title {
	text-align: center;
	margin-bottom: 20px;
}




/* ************************************ */
/*		Section Styles -- Questions		*/
/* ************************************ */
#questions {}
#questions p {
	text-align: justify;
}
.faq { position: relative; }
.faq-icon {
	font-size: 2em;
	width: 40px;
	margin-top: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.faq-question {
	margin-left: 58px;
}




/* ************************************ */
/*		Section Styles -- Register		*/
/* ************************************ */
#join {
	color: white;
}
#join h1 {
	font-weight: bold;
	margin-bottom: 100px;
	color: white;
	text-shadow: 2px 2px 1px #000;
}
.signupBtn {
	display: block;
	margin: 0 auto;
	width: 181px;
}




/* ************************************ */
/*		Section Styles -- Schedule		*/
/* ************************************ */
#schedule {
	color: white;
}
.scheduleOuter {
	text-align: center;
}
.scheduleInner {
	display: inline-block;
}
.scheduleSection {
	overflow: hidden;
	display: inline-block;
	float: left;
	margin: 0 100px;
}
.scheduleSection h2 {
	margin-bottom: 20px;
	text-align: left;
}
.times, .events {
	display: inline-block;
	float: left;
	text-align: left;
}
.times { width: 130px; }
.times i { 
	width: 23px; 
	margin-right: 10px;
	display: none;
}
@media (max-width: 991px) {
	.scheduleSection {
		margin: 0 50px;
	}
}
@media only screen and (max-width: 767px) {
	.schedule .times {
		width: 31.33333%;
		margin-bottom: 0;
	}
	.schedule .events {
		width: 64.66667%;
		margin-bottom: 0;
	}
	.scheduleSection {
		display: block;
		float: none;
		margin: 0;
	}
}




/* ************************************ */
/*		Section Styles -- Sponsor		*/
/* ************************************ */
#sponsors {}
.sponsor {
	text-align: center;
}

.sponsor1, .sponsor2, .sponsor3 {
	display: block;
	margin: 0 auto;
	}
	.atlas { background-color: #161616; }

.sponsor1 {
	width: 250px;
	height: 250px;
	line-height: 250px;
}
.sponsor2 {
	/*width: 300px;
	height: 300px;
	line-height: 290px;*/
}
.sponsor3 {
	/*width: 250px;
	height: 250px;
	line-height: 240px;*/
}
.sponsor a:hover, .sponsor a:focus, .sponsor a:active {
	background: #5AB8E2;
}
.sponsor img {
	margin: 20px;
	text-align: center;
	display: inline-block;
}
.sponsor1 img {
	max-width: 210px;
	max-height: 210px;
}
.sponsor2 img {
	/*max-width: 250px;
	max-height: 250px;*/
}
.sponsor3 img {
	/*max-width: 200px;
	max-height: 200px;*/
}

.sponsorInterested { text-align: center; margin-top: 50px; }
.sponsorBtnContainer { display: block; }
#sponsorEmailBtn { 
	display: inline-block;
}

#sponsorEmailDiv { display: none;  }
#sponsorEmailResult { display: none; }
#sponsorEmailOuterForm {
	position: relative;
}
#sponsorEmailArrow {
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -15px;
	height: 30px;
	width: 30px;
	border-width: 30px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #AA88AA;
}
#sponsorEmailForm, #sponsorEmailSuccess {
	background: #DAC8DA;
	padding: 20px;
	margin-top: 20px;
	border: 3px solid #AA88AA;
	position: relative;
	top: 20px;
}
#sponsorEmailSuccess { display: none; }
#sponsorEmailResult.error {
	margin-bottom: 20px;
	display: block;
}


@media (max-width: 1200px) {
	.sponsor1 { width: 200px; height: 200px; line-height: 200px; }
	.sponsor2 { /*width: 250px; height: 250px; line-height: 240px;*/ }
	.sponsor3 { /*width: 200px; height: 200px; line-height: 190px;*/ }
	.sponsor1 img { max-width: 160px; max-height: 160px; }
	.sponsor2 img { /*max-width: 200px; max-height: 200px;*/ }
	.sponsor3 img { /*max-width: 150px; max-height: 150px;*/ }
}
@media (max-width: 991px) {
	.sponsor1 { width: 160px; height: 160px; line-height: 160px; }
	.sponsor2 { width: 180px; /*height: 180px; line-height: 170px;*/ }
	.sponsor3 { width: 130px; /*height: 130px; line-height: 120px;*/ }
	.sponsor img { margin: 10px; }
	.sponsor1 img { max-width: 140px; max-height: 140px; }
	.sponsor2 img { /*max-width: 130px; max-height: 130px;*/ }
	.sponsor3 img { /*max-width:  80px; max-height:  80px;*/ }
}




/* ******************************** */
/*		Section Styles -- Info		*/
/* ******************************** */
#info {
	text-align: center;
}
#info p {
	text-align: justify;
}
#info .fa { 
	font-size: 100px;
	color: white;
}
.hack-def {
	line-height: 1.1em;
}
.hack-def i, .hack-def span {
	font-size: .8em;
}
.hack-def span {
	display: block;
	margin-left: 20px;
}
.infoSection {
	padding: 0 10px;
        color: #000;
}
.infoSection h2 {
	margin: 20px 0;
}





/* ******************** */
/*		Team Page		*/
/* ******************** */
.teamMemberContainer { text-align: center; }
.teamMember {
	width: 70%;
	display: inline-block;
    margin-bottom: 50px;
    color: white;
}
.teamMember img {
	width: 100%;
    margin: 0 auto;
    border-radius: 12%;
}
.teamMember h3 {
	margin: 15px 0 10px;
}
.teamMember p {
    margin-top: 0;
}
.teamMember .socialButtons a {
	background-color: black;
	color: white;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}




/* **************** */
/*		Footer		*/
/* **************** */
footer {
	background-color: #331155;
	padding: 30px 0;
	text-align: center;
}
footer, footer a {
	color: white;
	border-color: white;
	border-bottom: 0;
}
footer .row { margin-bottom: 0; }

/* copyright */
footer .copyright {
	line-height: 50px;
}

/* quick links */
.quicklinks {
	margin-bottom: 0;
	line-height: 50px;
}

/* ************************ */
/*    Social Buttons        */
/* ************************ */
.socialButtons {
	list-style-type: none;
	margin-left: 0;
}
.socialButtons li { 
	display: inline-block;
	margin-bottom: 0;
}
.socialButtons a {
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	background-color: white;
	color: black;
	margin: 0 5px;
	border-radius: 100%;
	border: 0;
	outline: 0;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.socialButtons a:hover, .socialButtons a:focus, .socialButtons a:active {
	background-color: #5ab8e2;
}






/* **************** */
/*		Signup		*/
/* **************** */
#signup {  }
#signup h1 {
	margin-bottom: 10px;
}
.noTop { margin-top: 0; }
.error {
	padding: 10px;
	display: block;
	border: 3px solid #EF124D;
	background: #FFEAF0;
	color: #EF124D;
}

/* Page 1 - Choose Participant or mentor */
#signupWait {  }
#signupChoice {  }
#signupChoice .btn {
	display: block;
	overflow: hidden;
	float: none;
}
.btnHolder { overflow: hidden; }
.waitMessage { text-align: center; }

/* Page 2 - Wrapper that holds loading, result, form, and confirmation */
.signupWrapper {
	position: relative;
	background: #FFFFF0;
	padding: 20px;
	width: 81.33%;
	margin: 0 9.335%;
	overflow: hidden;
}

/* confirmation section */
.signupConfirmation { display: none; }

/* loading section */
.signupLoading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(200, 200, 200, 0.6);
	width: 100%;
	height: 100%;
}
.signupLoading i {
	width: 80px;
	height: 80px;
	font-size: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -40px;;
}

/* signupSuccess */
.signupResult {
	display: none;
	overflow: hidden;
}
.signupResult.error {
	margin-bottom: 20px;
	display: block;
}


/* form with all inputs */
.signupForm {
	overflow: hidden;
}

/* field inputs */
.fieldWrapper {
	overflow: hidden;
}
.fieldWrapper label {
	font-weight: normal;
}
.fieldInput {
	width: 100%;
	height: 42px;
	border: 1px solid #5AB8E2;
	background: white;
	position: relative;
}
	.fieldInput.textarea { height: 202px; }
.fieldInput input, .fieldInput textarea {
	width: 100%;
	height: 40px;
	padding: 7px 9px;
	border: 0;
	font-size: .9em;
}
	.fieldInput input { padding-left: 49px; }
	.fieldInput textarea { height: 200px; resize: none; }
	
	.fieldInput.textarea.small { height: 102px; }
	.fieldInput.textarea.small textarea { height: 100px; }
	
.fieldInput .fa {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: #5AB8E2;
	color: white;
	line-height: 40px;
	width: 40px;
	text-align: center;
}
.fieldError {
	font-size: .9em;
	margin-top: 3px;
	padding: 7px 10px;
	clear: both;
}
#upload {
	position: relative;
	overflow: hidden;
}
#resumeName {
	background: white;
}
#resumeUploadBtn {
	width: 72px;
	height: 32px;
	position: absolute;
	top: 4px;
	right: 5px;
	
	z-index: 2;
	
	box-shadow: none;
}
#resumeUploadInput {
	width: 72px;
	height: 32px;
	position: absolute;
	top: 4px;
	right: 5px;
	
	z-index: 3;
	
	margin: 0;
	padding: 0;
	font-size: 20px;
	opacity: 0;
	filter: alpha(opacity=0);
}
#resumeUploadInput:hover + #resumeUploadBtn, #resumeUploadInput:focus + #resumeUploadBtn, #resumeUploadInput:active + #resumeUploadBtn {
	cursor: pointer;
	background-color: #3a98c2;
}
.honeypot {
	opacity: 0;
	filter: alpha(opacity=0);
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}
.backBtn {
	float: left;
	display: inline-block;
	border-bottom: 0;
	line-height: 44px;
}
.backBtn:hover, .backBtn:focus, .backBtn:active {
	border-bottom: 0;
}
input[type=submit] {
	font-weight: bold;
}



.fieldRadio, .fieldCheckbox {
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.fieldRadio:last-child { margin-right: 0; }
.tgl-label {
	line-height: 2em;
	margin-right: 10px;
	display: inline-block;
	float: left;
}
.tgl-label:hover, .tgl-label:focus, .tgl-label:active {
	cursor: pointer;
}
.areas .fieldRadio {
	width: 23.5%;
	margin-right: 2%;
}
.areas .fieldRadio:nth-child(4n) {
	margin-right: 0;
}
.areas .tgl + .tgl-btn {
	width: 20em;
}

@media (max-width: 1200px) {
	.signupWrapper {
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 767px) {
	.areas .fieldRadio, .areas .fieldRadio:nth-child(4n) {
		width: 32.66667%;
		margin-right: 1%;
	}
	.areas .fieldRadio:nth-child(3n) { margin-right: 0; }
	.areas .tgl + .tgl-btn {
		width: 156px;
	}
}
@media (max-width: 570px) {
	.areas .fieldRadio, .areas .fieldRadio:nth-child(4n), .areas .fieldRadio:nth-child(3n) {
		width: 49.5%;
		margin-right: 1%;
	}
	.areas .fieldRadio:nth-child(2n) { margin-right: 0; }
	.areas .tgl + .tgl-btn {
		width: 100%;
	}
}


/* 
 * checkbox flop toggle from:
 * http://codepen.io/mallendeo/pen/eLIiG
 */
.tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
	background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
	background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 5.5em;
	height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: .9em;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}

.tgl-flip + .tgl-btn {
	padding: 2px;
	
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
	transition: all .2s ease;
    
	-webkit-perspective: 100px;
	perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
	transition: all .4s ease;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tgl-flip + .tgl-btn:after {
	content: attr(data-tg-on);
	transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
	background: #BBB;
	content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
	-webkit-transform: rotateY(-20deg);
	transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
	background: #5AB8E2;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	left: 0;
}
.tgl-flip:checked + .tgl-btn:active:after {
	-webkit-transform: rotateY(20deg);
	transform: rotateY(20deg);
}
/* end checkbox flop toggle */



.confirmationTable {
	width: 100%;
}
.confirmationTable tr:nth-child(2n-1) {
	background: #EEE;
}
.confirmationTable tr:nth-child(2n) {
	background: white;
}
.confirmationTable td {
	padding: 5px 10px;
	border: 1px solid #ccc;
}
.confirmationTable td:nth-child(2n) {
	word-wrap: break-word;
}





