/*
Blue: 			#5AB8E2 	80, 184, 226
Dark Blue:		#3a98c2
Cream:			#FDFDCE 	
Light purple: 	#AA88AA 	170, 136, 170
Medium purple:	#553377 	85, 51, 119
Dark purple: 	#331155		51, 17, 85
Grey:			#BBBBBB
*/
/* *************** */
/*      Styles     */
/* *************** */
body, html {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background: #331155;
}
* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h1, h2, h3, h4 {
	font-family: "Gruppo", Helvetica, sans-serif;
	 font-weight: bold;
}
h1 { 
	font-size: 2.5em; 
	line-height: 1.5em; 
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	}
	h1.blue { color: #5ab8e2; }
h2 { font-size: 1.5em; line-height: 1.5em; color: #5ab8e2; }
	h2.white { color: #ffffff; }
h3 {
	font-size: 1.5em; line-height: 1.5em; color: #331155;
}
h4 {
    font-size: 1.3em;
}

p {
	margin-bottom: 10px;
    font-size: inherit;
}

a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}
a:hover, a:focus, a:active {
	text-decoration: none;
	cursor: pointer;
	color: #5ab8e2;
/*	border-bottom: 1px solid #5ab8e2;*/
}
a.btn {
	color: white;
}

ul {
	margin-left: 20px;	
}
li {
	margin-bottom: 10px;
}

.btn {
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
.btn, .btn-l, .btn-xl, .navbar-default .navbar-nav > .active > a {
	background: #5ab8e2;
	color: white;
	border: 0;
	transition: all .3s;
}
.btn:hover, .btn:focus, .btn:active,
.btn-l:hover, .btn-l:focus, .btn-l:active,
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, 
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:active {
	background: #3a98c2;
	border: 0;
	color: white;
}
.btn-l {
	padding: 12px 24px;
}
.btn-circle {
	border-radius: 50%;
}
.btn.right {
	float: right;
}





/* **************** */
/*		Layout		*/
/* **************** */
/* Head/Intro */
.bg-head {
	background: #AA88AA;
}
/* About */
.bg-womenCode {
	background-image: url(../images/backgrounds/LadiesCode_Purple.png);
}
/* Questions */
.bg-cream {
	background: #FFFFF0;
}
/* Join */
.bg-sign-up {
    background-image: url(../images/backgrounds/LadiesLearningCode2.jpg);
    /*background-color: #553377;*/
}
/* Schedule */
.bg-purple {
	background-color: #AA88AA;
	background-image: url(../images/backgrounds/new_year_background_AA88AA.png);
	background-position: center center;
}
/* Sponsors */

/* FAQ */
.bg-grey {
	background: #BBB;
}


.bg-image {
	background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}

.bg-text {
	padding: 20px;
	background: rgba(255, 255, 255, 0.95);
}


.bg-hack {
	background-image: url(../images/backgrounds/LadiesLearningCode3-2.jpg);
}

	
section {
    padding: 100px 0;
}
.section-heading {
    padding: 30px;
    background-color: rgba(40, 40, 40, 0.4);
    color: white;
    margin-bottom: 60px;
}
@media (max-width: 767px) {
    .section-heading {
        padding: 20px;
        margin-bottom: 20px;
    }
}




/* ***************** */
/*      Nav Bar      */
/* ***************** */
nav a {
	text-decoration: none !important;
    border-bottom: 0;
	transition: all .3s;
}
nav a:hover, nav a:focus, nav a:active, nav a:active {
    border-bottom: 0;
}
.navbar {
	padding: 20px 0;
    background-color: rgba(51, 17, 85, 0.4);
    font-size: .8em;
}
.navbar-default {
    /*padding: 20px 0;
    background-color: rgba(51, 17, 85, 0.4);
    font-size: .8em;*/
}
.navbar.navbar-shrink {
	background-color: #331155;
	padding: 10px 0;
}
.navbar .navbar-brand, .navbar-default .navbar-brand {
	font-size: 1.5em;
	color: #fff;
	transition: all .3s;
}
.navbar-toggle {
	color: #5ab8e2;
	transition: all .3s;
}
	
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus, .navbar .navbar-brand:active, 
.navbar .nav li a:hover, .navbar .nav li a:focus {
	color: #3a98c2;
}
.navbar .navbar-toggle {
	border-color: #5ab8e2;
	background-color: #5ab8e2;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:active {
	background-color: #3a98c2;
}

@media only screen and (max-width: 767px) {
	.navbar {
	    padding: 10px 0;
	}
}


/* ************************ */
/*		Section Styles		*/
/* ************************ */
/* header styles */
header {
	position: relative;
}
#header-canvas {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
#header-container {
	position: relative;
	z-index: 2;
}
.hack-header {
	padding: 120px 0 60px;
}
.team-header {
	padding: 160px 0 60px;
}
.signup-header {
	
}
.logo {
	width: 300px;
}
.hack-header .down {
	font-size: 2.5em;
	margin: 8px 6px 3px;
}
.team-title {
	text-align: center;
	margin-bottom: 20px;
}




/* questions */
#questions {}
#questions p {
	text-align: justify;
}
.faq { position: relative; }
.faq-icon {
	font-size: 2em;
	width: 40px;
	margin-top: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.faq-question {
	margin-left: 58px;
}




/* register */
#join {
	color: white;
}
#join h1 {
	font-weight: bold;
	margin-bottom: 100px;
	color: white;
	text-shadow: 2px 2px #333;
}
.signupBtn {
	display: block;
	margin: 0 auto;
	width: 181px;
}



/* schedule */
#schedule {
	color: white;
}
.scheduleOuter {
	text-align: center;
}
.scheduleInner {
	display: inline-block;
}
.scheduleSection {
	overflow: hidden;
	display: inline-block;
	float: left;
	margin: 0 100px;
}
.times, .events {
	display: inline-block;
	float: left;
	text-align: left;
	}
	.times { width: 85px; }
@media (max-width: 991px) {
	.scheduleSection {
		margin: 0 50px;
	}
}
@media only screen and (max-width: 767px) {
	.schedule .times {
		width: 31.33333%;
		margin-bottom: 0;
	}
	.schedule .events {
		width: 64.66667%;
		margin-bottom: 0;
	}
	.scheduleSection {
		display: block;
		float: none;
		margin: 0;
	}
}




/* sponsors */
#sponsors {}
.sponsor {
	text-align: center;
}

.sponsor1, .sponsor2, .sponsor3 {
	display: inline-block;
}
/*.sponsor1, .sponsor2, .sponsor3 {
	background: white;
	border: 0;
	display: inline-block;
	border: 5px solid #AA88AA;
	border-radius: 50%;
}*/

.sponsor1 {
	width: 350px;
	/*height: 350px;
	line-height: 340px;*/
}
.sponsor2 {
	width: 300px;
	/*height: 300px;
	line-height: 290px;*/
}
.sponsor3 {
	width: 250px;
	/*height: 250px;
	line-height: 240px;*/
}
.sponsor a:hover, .sponsor a:focus, .sponsor a:active {
	background: #5AB8E2;
}
.sponsor img {
	margin: 20px;
	text-align: center;
	display: inline-block;
}
.sponsor1 img {
	max-width: 300px;
	/*max-height: 300px;*/
}
.sponsor2 img {
	max-width: 250px;
	/*max-height: 250px;*/
}
.sponsor3 img {
	max-width: 200px;
	/*max-height: 200px;*/
}
.sponsorInterested {
	margin: 50px auto 0;
	display: block;
	width: 430px;
}
@media (max-width: 1200px) {
	.sponsor1 { width: 300px; /*height: 300px; line-height: 290px;*/ }
	.sponsor2 { width: 250px; /*height: 250px; line-height: 240px;*/ }
	.sponsor3 { width: 200px; /*height: 200px; line-height: 190px;*/ }
	.sponsor1 img { max-width: 250px; /*max-height: 250px;*/ }
	.sponsor2 img { max-width: 200px; /*max-height: 200px;*/ }
	.sponsor3 img { max-width: 150px; /*max-height: 150px;*/ }
}
@media (max-width: 991px) {
	.sponsor1 { width: 230px; /*height: 230px; line-height: 220px;*/ }
	.sponsor2 { width: 180px; /*height: 180px; line-height: 170px;*/ }
	.sponsor3 { width: 130px; /*height: 130px; line-height: 120px;*/ }
	.sponsor1 img { max-width: 180px; /*max-height: 180px;*/ }
	.sponsor2 img { max-width: 130px; /*max-height: 130px;*/ }
	.sponsor3 img { max-width:  80px; /*max-height:  80px;*/ }
}


/* info */
#info {
	text-align: center;
}
#info p {
	text-align: justify;
}
#info .fa { 
	font-size: 100px;
	color: white;
}
.hack-def {
	line-height: 1.1em;
}
.hack-def i, .hack-def span {
	font-size: .8em;
}
.hack-def span {
	display: block;
	margin-left: 20px;
}
.infoSection {
	padding: 0 10px;
}
.infoSection h2 {
	margin: 20px 0;
}




/* team */
.team-member img {
	border-color: #553377;
}
.team-member h3 {
	margin-top: 15px;
}
.team-member img {
	width: 60%;
}




/* **************** */
/*		Footer		*/
/* **************** */
footer {
	background-color: #331155;
}
footer, footer a {
	color: white;
	border-color: white;
}
footer ul.social-buttons li a {
	background-color: white;
	color: black;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #5ab8e2;
}
.meetTeam {
	border-bottom: 0;
}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}






/* **************** */
/*		Signup		*/
/* **************** */
#signup { display: none; }
#signup-wait {}
/* Choice participant or mentor */
#signupChoice {}
#signupChoice .btn {
	display: block;
	overflow: hidden;
	float: none;
}
.btnHolder { overflow: hidden; }

/* Entire signup sections (participant and mentor) */
#participantSignup, #mentorSignup {
	display: none;
	overflow: hidden;
}

/* wrapper that holds loading and wrapper */
.signupWrapper {
	position: relative;
	background: #FDFDCE;
	padding: 20px;
	width: 81.33%;
	margin: 0 6.33%;
}

/* loading section */
.signupLoading {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 10;
	background: rgba(200, 200, 200, 0.6);
}
.signupLoading i {
	width: 80px;
	height: 80px;
	font-size: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -40px;;
}

/* signupSuccess */
.signupSuccess {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	background: #FDFDCE;
	display: none;
	overflow: hidden;
	background: #FDFDCE;
	padding: 20px;
}
.signupSuccess.error {
	position: relative;
	padding: 10px;
	margin-bottom: 20px;
	display: block;
	border: 3px solid red;
	background: #F99;
	color: white;
}

/* form with all inputs */
.signupForm {
	overflow: hidden;
}

/* field inputs */
.fieldWrapper {
	overflow: hidden;
}
.fieldWrapper label {
	font-weight: normal;
}
.fieldInput {
	width: 100%;
	height: 42px;
	border: 1px solid #5AB8E2;
	background: white;
	position: relative;
}
.fieldInput input {
	width: 100%;
	height: 40px;
	padding: 7px 9px 7px 49px;
	border: 0;
	font-size: .9em;
}
.fieldInput .fa {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: #5AB8E2;
	color: white;
	line-height: 40px;
	width: 40px;
	text-align: center;
}
.fieldError {
	color: red;
	font-size: .8em;
	margin-top: 3px;
}
#upload {
	position: relative;
    overflow: hidden;
}
#resumeName {
	background: white;
}
#resumeUploadBtn {
	width: 72px;
	height: 32px;
	position: absolute;
	top: 4px;
	right: 5px;
	
	z-index: 2;
	
	box-shadow: none;
}
#resumeUploadInput {
	width: 72px;
	height: 32px;
	position: absolute;
	top: 4px;
	right: 5px;
	
	z-index: 3;
	
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}
#resumeUploadInput:hover + #resumeUploadBtn, #resumeUploadInput:focus + #resumeUploadBtn, #resumeUploadInput:active + #resumeUploadBtn {
	cursor: pointer;
	background-color: #3a98c2;
}
.honeypot {
	opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
.backBtn {
	float: left;
	display: inline-block;
	border-bottom: 0;
}
.backBtn:hover, .backBtn:focus, .backBtn:active {
	border-bottom: 0;
}
input[type=submit] {
	font-weight: bold;
}



.fieldRadio, .fieldCheckbox {
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.fieldRadio:last-child { margin-right: 0; }
.tgl-label {
	line-height: 2em;
	margin-right: 10px;
	display: inline-block;
	float: left;
}
.tgl-label:hover, .tgl-label:focus, .tgl-label:active {
	cursor: pointer;
}
.areas .fieldRadio {
	width: 23.5%;
	margin-right: 2%;
}
.areas .fieldRadio:nth-child(4n) {
	margin-right: 0;
}
.areas .tgl + .tgl-btn {
	width: 20em;
}

@media (max-width: 1200px) {
	.signupWrapper {
		width: 100%;
		margin: 0;
	}
}
@media (max-width: 767px) {
    .areas .fieldRadio, .areas .fieldRadio:nth-child(4n) {
		width: 32.66667%;
		margin-right: 1%;
	}
	.areas .fieldRadio:nth-child(3n) { margin-right: 0; }
	.areas .tgl + .tgl-btn {
		width: 156px;
	}
}
@media (max-width: 570px) {
    .areas .fieldRadio, .areas .fieldRadio:nth-child(4n), .areas .fieldRadio:nth-child(3n) {
		width: 49.5%;
		margin-right: 1%;
	}
	.areas .fieldRadio:nth-child(2n) { margin-right: 0; }
	.areas .tgl + .tgl-btn {
		width: 100%;
	}
}


/* 
 * checkbox flop toggle from:
 * http://codepen.io/mallendeo/pen/eLIiG
 */
.tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
	background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
	background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 4.8em;
	height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: .9em;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}
.tgl-flip + .tgl-btn {
	padding: 2px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-perspective: 100px;
	perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
	display: inline-block;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 2em;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
	content: attr(data-tg-on);
	transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
	background: #BBB;
	content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
	-webkit-transform: rotateY(-20deg);
	transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
	background: #5AB8E2;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	left: 0;
}
.tgl-flip:checked + .tgl-btn:active:after {
	-webkit-transform: rotateY(20deg);
	transform: rotateY(20deg);
}
/* end checkbox flop toggle */










::selection {
	background: #5AB8E2;
}

