h1 {
	color: black;
}
.scheduleOuter {
	text-align: center;
}
.scheduleInner {
	display: inline-block;
	width: 100%;
	text-align: left;
}
.scheduleSection {
	overflow: hidden;
	display: inline-block;
	float: left;
	margin: 0 3%;
	width: 44%;
	background: #FFFFF0;
}
.scheduleSection h2 {
	margin-bottom: 20px;
	text-align: left;
	font-weight: bold;
	padding: 5px 0;
	background: #553377;
	text-align: center;
	color: white;
}

.item {
	overflow: hidden;
	clear: both;
	margin: 0 20px 20px;
}
.time, .event {
	display: inline-block;
	float: left;
	text-align: left;
}
.time p, .event p {
	margin: 0;
	font-size: 1.3em;
}
.time { width: 120px; }
.event span {
}

.head {
	clear: both;
	overflow: hidden;
}

.details span {
	margin-left: 120px;
	display: block;
}


@media (max-width: 991px) {
	.scheduleSection:first-child { 
		margin: 0 50px 0 0;
	}
	.scheduleSection:last-child {
		margin: 0 0 0 50px;
	}
}
@media only screen and (max-width: 767px) {
	.schedule .times {
		width: 31.33333%;
		margin-bottom: 0;
	}
	.schedule .events {
		width: 64.66667%;
		margin-bottom: 0;
	}
	.scheduleSection:first-child, .scheduleSection:last-child {
		display: block;
		float: none;
		margin: 0;
	}
	.scheduleSection:last-child { margin-top: 50px; }
}
